### Assignment Questions

In [1]:
# Question 1: Create a list of first 10 square numbers

num = 1
list = []
for i in range(1,11):
  num=i**2
  list.append(num)
print(f" square list is:{list}")

 square list is:[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [2]:
# Question 2: Find the sum of all even numbers in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

list= [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sum=0
for i in list:
    if i%2==0:
        sum=sum+i

print(f" sum of even number in the list is :{sum}")

 sum of even number in the list is :30

In [3]:
# Question 3: Remove duplicates from [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]

list=[1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
remove=set(list)
print(remove)

{1, 2, 3, 4, 5, 6, 7}

In [46]:
# Question 4: Sort the list [64, 34, 25, 12, 22, 11, 90] in descending order

numbers = [64, 34, 25, 12, 22, 11, 90]
numbers.sort(reverse=True)
print(numbers)

[90, 64, 34, 25, 22, 12, 11]

In [5]:
# Question 5: Find the average of numbers in [15, 23, 31, 42, 56, 78, 91]

num=[15, 23, 31, 42, 56, 78, 91]
sum=0
for i in num:
    sum=sum+i
avg=sum/len(num)
print(avg)

48.0

In [6]:
# Question 6: Create a list of first 15 Fibonacci numbers

a=0
b=1
temp=0
fibonacci=[a,b]
for i in range(2,15):
    temp=a+b
    fibonacci.append(temp)
    a=b
    b=temp
print(fibonacci)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

In [7]:
# Question 7: Find the second largest number in [45, 67, 23, 89, 12, 34, 78]

num=[45, 67, 23, 89, 12, 34, 78]
largest=0
for i in num:
    if i>largest:
         largest=i
         second_largest=0
    elif i>second_largest and i!=largest:
        second_largest=i
print(second_largest)

78

In [8]:
# Question 8: Reverse the list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
#way 1:

num1=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
num_rev=num1[::-1]
print(num_rev)

#watt 2:
list1=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list1.reverse()
print(list1)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [9]:
# Question 9: Count how many times 5 appears in [1, 5, 2, 5, 3, 5, 4, 5, 6]

num = [1, 5, 2, 5, 3, 5, 4, 5, 6]
count = num.count(5)
print(count)

4

In [10]:
# Question 10: Create a list of prime numbers between 1 and 50

prime=[]
for num in range(1,51):
    
    if num>1:
        for i in range(2,num):
            if num%i==0:
                break
        else:
            prime.append(num)
print(prime)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [11]:
# Question 11: Flatten nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

nested_list=[[1, 2, 3], [4, 5, 6],[7,  8,9]]
flat=[]
for i in nested_list:
    for item in i:
        flat.append(item)
print(flat)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
# Question 12: Find common elements between [1, 2, 3, 4, 5] and [4, 5, 6, 7, 8]

a=[1, 2, 3, 4, 5]
b=[4, 5, 6, 7, 8]
c=[]
for i in a:
    if i in b:
        c.append(i)
print(c)

[4, 5]

In [13]:
# Question 13: Create a list of lists: [[1, 2], [3, 4], [5, 6]]

list_of_lists=[[1, 2], [3, 4], [5, 6]]
for i in list_of_lists:
    print(i)

[1, 2]
[3, 4]
[5, 6]

In [1]:
# Question 14: Find the sum of each sublist in [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

sums = [sum(sublist) for sublist in lists]

print(sums)

[6, 15, 24]

In [15]:
# Question 15: Transpose the matrix [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
matrix_list=[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
transpose=[]
for i in range(len(matrix_list[0])):
    row=[]
    for j in range(len(matrix_list)):
        row.append(matrix_list[j][i])
    transpose.append(row)
print(transpose)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [16]:
# Question 16: Find the maximum value in each sublist of [[1, 5, 3], [9, 2, 7], [4, 8, 6]]
list=[[1, 5, 3], [9, 2, 7], [4, 8, 6]]
m=[]
for i in list:
    m.append(max(i))
print(m)

[5, 9, 8]

In [17]:
# Question 17: Create a 3D list: [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]

list_3d=[[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
list_3d

[[[1, 2], [3, 4]], [[5, 6], [7, 8]]]

In [18]:
# Question 18: Find the sum of all elements in 3D list [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]

list_3d=[[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
total_sum=0
for i in list_3d:
    for j in i:
        for item in j:
            total_sum=total_sum+item
print(total_sum)

36

In [19]:
# Question 19: Extract all even numbers from nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

list=[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
even=[]
for i in list:
    for j in i:
        if j%2==0:
            even.append(j)
print(even)

[2, 4, 6, 8]

In [2]:
# Question 20: Create a list of mixed data types: [1, "hello", 3.14, True, [1, 2, 3]]

mixed_list = [1, "hello", 3.14, True, [1, 2, 3]]

print(mixed_list)

[1, 'hello', 3.14, True, [1, 2, 3]]

In [3]:
# Question 22: Create a list of tuples: [(1, 'a'), (2, 'b'), (3, 'c')]

n=[(1, 'a'), (2, 'b'), (3, 'c')]
new_list=[]
for i in n:
    for j in i:
        new_list.append(j)
print(new_list)

[1, 'a', 2, 'b', 3, 'c']

In [5]:
# Question 23: Extract first element from each tuple in [(1, 'a'), (2, 'b'), (3, 'c')]


l=[(1, 'a'), (2, 'b'), (3, 'c')]
new_list=[]
for i in l:
    for j in i:
        new_list.append(j)
        if j==1 or j==2 or j==3:
            break
print(new_list)

[1, 2, 3]

In [6]:
# Question 24: Create a list of dictionaries: [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]

names = ['Alice', 'Bob']
ages = [25, 30]

people = [{'name': n, 'age': a} for n, a in zip(names, ages)]

print(people)

[{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]

In [9]:
# Question 25: Extract all 'name' values from list of dictionaries

list_of_dicts=[{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]
for i in list_of_dicts:
    print(i['name'])

Alice
Bob

In [10]:
# Question 26: Find the person with maximum age in list of dictionaries

max_person = people[0]

for person in people:
    if person['age'] > max_person['age']:
        max_person = person
print(max_person)

{'name': 'Bob', 'age': 30}

In [11]:
# Question 27: Create a 4D list: [[[[1, 2], [3, 4]], [[5, 6], [7, 8]]], [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]]

list_4d=[[[[1, 2], [3, 4]], [[5, 6], [7, 8]]], [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]]
print(list_4d)

[[[[1, 2], [3, 4]], [[5, 6], [7, 8]]], [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]]

In [15]:
# Question 28: Find the maximum value in 4D list

list_4d=[[[[1, 2], [3, 4]], [[5, 6], [7, 8]]], [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]]
maximum=0
for i in list_4d:
    for j in i:
        for k in j:
            for l in k:
                if maximum<l:
                    maximum=l
print(maximum)

16

In [28]:
# Question 29: Create a list of sets: [{1, 2, 3}, {4, 5, 6}, {7, 8, 9}]

list_of_sets=[{1, 2, 3}, {4, 5, 6}, {7, 8, 9}]
print(list_of_sets)

[{1, 2, 3}, {4, 5, 6}, {8, 9, 7}]

In [16]:
# Question 30: Find the union of all sets in list of sets

list_of_sets=[{1, 2, 3}, {4, 5, 6}, {7, 8, 9}]
union_set=set()
for s in list_of_sets:
    union_set=union_set.union(s)
print(union_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [17]:
# Question 31: Create a list of complex numbers: [1+2j, 3+4j, 5+6j]

complex_num=[1+2j, 3+4j, 5+6j]
print(complex_num)

[(1+2j), (3+4j), (5+6j)]

In [18]:
# Question 32: Find the magnitude of each complex number in list

complex_num=[1+2j, 3+4j, 5+6j]
magnitudes=[]
for i in complex_num:
    magnitudes.append(abs(i))
print(magnitudes)

[2.23606797749979, 5.0, 7.810249675906654]

In [32]:
# Question 33: Create a nested list with different levels: [1, [2, 3], [4, [5, 6]], 7]

lst=[1, [2, 3], [4, [5, 6]], 7]
print(lst)

[1, [2, 3], [4, [5, 6]], 7]

In [33]:
# Question 34: Count the depth of nesting in [1, [2, 3], [4, [5, 6]], 7]

l=  [1, [2, 3], [4, [5, 6]], 7]
for i in l:
    if type(i)==list:
        for j in i:
            if type(j)==list:
                for k in j:
                    if type(k)==list:
                        print("Depth is 4")
                    else:
                        print("Depth is 3")
            else:
                print("Depth is 2")
    else:
        print("Depth is 1")
print("Maximum depth is 4")

Depth is 1
Depth is 1
Depth is 1
Depth is 1
Maximum depth is 4

In [34]:
# Question 35: Create a list of functions: [len, str, int, float]

functions = [len, str, int, float]
print(functions)

[<built-in function len>, <class 'str'>, <class 'int'>, <class 'float'>]

In [19]:
# Question 36: Apply each function in list to string "123"


functions = [len, str, int, float]
for i in functions:
    print(i("123"))

3
123
123
123.0

In [20]:
# Question 37: Create a list of lambda functions: [lambda x: x*2, lambda x: x**2, lambda x: x+1]

lamda_fun=[lambda x: x*2, lambda x: x**2, lambda x: x+1]
print(lamda_fun)

[<function <lambda> at 0x000002559A9CAB90>, <function <lambda> at 0x000002559A9CACF0>, <function <lambda> at 0x000002559A9CAF00>]

In [21]:
# Question 38: Apply each lambda function to 5

x=5
lambda_fun=[lambda x:x*2, lambda x:x**2,lambda x:x+1]
for i in lambda_fun:
    print(i(x))

10
25
6

In [22]:
# Question 39: Create a list of classes: [list, dict, set, tuple]

list_of_data_types=[list, dict, set, tuple]
print(list_of_data_types)

[<class 'list'>, <class 'dict'>, <class 'set'>, <class 'tuple'>]

In [23]:
# Question 40: Create instances of each class in list

list_of_data_types=[list, dict, set, tuple]
instances=[]
for i in list_of_data_types:
    if i==list:
        instances.append([])
    elif i==dict:
        instances.append({})
    elif i==set:
        instances.append(set())
    elif i==tuple:
        instances.append(())
print(instances)

[[], {}, set(), ()]

In [24]:
# Question 41: Create a list of None values: [None, None, None, None]

list_of_none=[None, None, None, None]
print(list_of_none)

[None, None, None, None]

In [25]:
# Question 42: Replace all None values with 0 in list

list_of_none=[None, None, None, None]
for i in range(len(list_of_none)):
    if list_of_none[i] is None:
        list_of_none[i]=0
print(list_of_none)

[0, 0, 0, 0]

In [26]:
# Question 43: Create a list of boolean values: [True, False, True, False]

bool=[True, False, True, False]
print(bool)

[True, False, True, False]

In [27]:
# Question 44: Count True values in boolean list

bool=[True, False, True, False]
count=0

for i in bool:
    if i==True:
        count=count+1
print(count)

2

In [28]:
# Question 45: Create a list of ranges: [range(3), range(5), range(2)]

l=[range(3), range(5), range(2)]
print(l)

[range(0, 3), range(0, 5), range(0, 2)]

In [ ]:
# Question 46: Convert each range to list

l=[range(3), range(5), range(2)]
list_of_lists=[]
for i in l:
    list_of_lists.append(list(i))
print(list_of_lists)

[[0, 1, 2], [0, 1, 2, 3, 4], [0, 1]]

In [ ]:
# Question 47: Create a list of generators: [(x for x in range(3)), (x for x in range(5))]

gen=[(x for x in range(3)),(x for x in range(5))]
for g in gen:
    print(list(g))

[0, 1, 2]
[0, 1, 2, 3, 4]

In [31]:
# Question 48: Convert each generator to list

gen=[(x for x in range(3)),(x for x in range(5))]
new_gen=[]
for  g in gen:
    new_gen.append(list(g))
print(new_gen)

[[0, 1, 2], [0, 1, 2, 3, 4]]

In [32]:
# Question 49: Create a list of iterators: [iter([1, 2, 3]), iter([4, 5, 6])]

itetator=[iter([1, 2, 3]), iter([4, 5, 6])]
for i in itetator:
    print()

In [34]:
# Question 50: Extract all elements from each iterator

itetator=[iter([1, 2, 3]), iter([4, 5, 6])]
for i in itetator:
    print(list(i))

[1, 2, 3]
[4, 5, 6]